@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes reviewPlus {
  0% {
    z-index: 10;
    transform: translateX(0) scale(1);
  }

  100% {
    z-index: 0;
    transform: translateX(-80%) scale(0.8);
    /* transform-origin: top left; */
  }
}

@keyframes reviewZ {
  0% {
    z-index: 10;
    transform: translateX(50%) scale(0.8);
  }

  100% {
    z-index: 20;
    transform: translateX(0) scale(1);
  }
}

@keyframes reviewBefore {
  0% {
    z-index: 0;
    transform: translateX(0) scale(0);
  }

  100% {
    z-index: 5;
    transform: translateX(50%) scale(0.8);
  }
}
