@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: auto;
  /* Allows natural scrolling */
  /* overflow-x: hidden; */
  /* Prevents horizontal scroll */

}

body {
  min-height: 100vh;
  /* Better than h-screen for scroll */
}

body {
  /* background: var(--background); */
  color: var(--foreground);
}

@keyframes reviewPlus {
  0% {
    z-index: 10;
    transform: translateX(0) scale(1);
  }

  100% {
    z-index: 0;
    transform: translateX(-80%) scale(0.8);
  }
}

@keyframes reviewZ {
  0% {
    z-index: 10;
    transform: translateX(50%) scale(0.8);
  }

  100% {
    z-index: 20;
    transform: translateX(0) scale(1);
  }
}

@keyframes reviewBefore {
  0% {
    z-index: 0;
    transform: translateX(0) scale(0);
  }

  100% {
    z-index: 5;
    transform: translateX(50%) scale(0.8);
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes loader {

  0%,
  100% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

@keyframes teamCard {
  0% {
    transform: translateX(-180%) translateY(88px) rotate(8deg);
  }

  50% {
    transform: translateX(180%) translateY(800px) rotate(8deg)
  }

  100% {
    transform: translateX(180%) translateY(88px) rotate(8deg);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-50%)
  }
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-textGradient {
  animation: textGradient 6s ease infinite;
}